.footer__column-link {
  color: #ffffff;
  margin: 0;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  transition: opacity .5s linear 0s;
}

.footer__column-link:hover {
  opacity: .6;
}
